.home{

    margin: 0;
    height: 90vh;
    z-index: 1;
    
}
.left-h{ 
    float: left;
    background-image: linear-gradient(to right, #14141463,#14141463,#14141411);
    padding: 4em 4em 4em 8em;
    margin: 4em 0 0 4em;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 50vw;
  
}

.hello{
    color: white;
    font-size: 1.7em;
    margin: 0 1em 0.7em 0;
}

.name{
    margin: 0 1em 0.7em 0;
    font-size: 3em;
    color: #FFC837;
}


.work{
    color: rgb(170, 169, 169);
    font-size: 0.8em;
    letter-spacing: 0.4em;
}

.explorebtn{
    font-size: 1.7em;
    font-weight: bolder;
    color:white;
    background: none;
    border: 1px solid #FFC837;
    
    background-color: #ffc63793;
    cursor: pointer;
    padding:0.8em 4em;
    margin: 2em 0;
    /* border: none; */
    z-index: 1;



}
.explorebtn:hover{
color: #FFC837;
font-weight: 700;
background-color: white;
border:1px solid #FFC837;
transition: 1s;
}

video{
    top: 0;
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    /* filter: blur(0.7); */
}


